/*wenku page index [start]*/
.carousel-control .fa{top: 46%;font-size: 30px;position: relative;}
.carousel-caption{padding-bottom: 0px;bottom: 5px;}
.carousel-caption img{width: 825px;height: 316px;}
 .wenku-count{padding-top: 5px;padding-bottom: 4px;}
 .wenku-count .col-xs-6:first-child{border-right: 1px solid #EFEFEF;}
 .wenku-count .help-block{margin-bottom: 0px;}
 .wenku-avatar{height: 80px;width: 80px;margin: 15px;border-radius:50%;}
 .wenku-avatar img{border-radius: 50%;}
 .wenku-username{margin-top: 10px;}
 .wenku-userinfo{border-top: 1px solid #EEEEEE;margin-top: 15px;padding-top: 5px;padding-bottom:10px;width: 230px;margin-left: 15px;}

 .wenku-cate{background-color: #FFFFFF;margin-bottom: 15px;padding: 15px;}
 .wenku-cate a{display: inline-block;font-size: 16px;margin-right: 5px;}
 .wenku-cate .wenku-cate-list{height: 60px;overflow: hidden;}

 .wenku-item .col-xs-6{padding: 0px;width: 542px;margin-top: 1px;}
 .wenku-item .wenku-mgl-15px{margin-left: 16px;}
 .wenku-item li{padding-bottom: 2px;line-height: 1.5;
    margin-top:2px;}
 .wenku-item ul{margin-bottom: 0px;}
 .wenku-item img{width:195px;border: 1px solid #EFEFEF;}
 .wenku-item a.wenku-text-ellipsis img{display: none;}
 .wenku-loginbox .panel-body{padding-bottom: 0px;}
 .wenku-loginbox{padding: 11px 0px 0px;}
 .wenku-loginbox .btn-primary{margin-bottom: 15px;}
 .wenku-loginbox .panel-body{padding-bottom: 8px;}
 .quick-login{height: 40px;line-height: 40px;margin-bottom: 0px;}
 .quick-login .iconfont{font-size: 25px;margin-left: 5px;}
 .quick-login .icon-weixin{font-size: 23px;color: #00bf75;}
 .quick-login .icon-weibo{font-size: 23px;color: #fa4151;}
 .quick-login .icon-QQ{font-size: 26px;color: #5fa3e4;}
 .quick-login .iconfont:hover{color: #1abc9c;}

#wenku-carousel .carousel-inner img{height: 323px;width: 100%;}

/* .wenku-item .panel-body{padding-bottom: 6px;}*/
/*wenku page index [end]*/
