/*wenku page upload [start]*/
 .wenku-tips{border: 1px dashed #a1a1a1;padding: 15px;margin: 15px;margin-bottom: 30px;}
 .panel-body .help-block p{font-size: 15px;}
 .col-xs-8{border-right: 1px solid #DDDDDD;}
 p{margin-bottom: 10px;}
 .panel .panel{box-shadow:none;-webkit-box-shadow: none;}
/* .form-cate{display: none;}*/
/*wenku page upload [end]*/