{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
 <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-xs-11 wenku-left pull-left">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="wenku-list-table-head clearfix">
                            <div class="col-xs-4">待审核文档</div>
                            <div class="col-xs-1">页数</div>
                            <div class="col-xs-1">状态</div>
                            <div class="col-xs-2">上传用户</div>
                            <div class="col-xs-3">上传时间</div>
                        </div>
                        <div class="wenku-list-table-body">
                            <ul>
                                {% for file in files %}
                                <li class="clearfix">
                                    <div class="col-xs-4 wenku-text-ellipsis">
                                        <a href="{% url 'content' file.id %}" title="{{ file.name }}" target="_blank"><img alt="{{ file.ext }}文档" src="/static/img/{{ file.ext }}_24.png"/> {{ file.name }}</a>
                                    </div>
                                    <div class="col-xs-1">{{ file.page }}</div>
                                    <div class="col-xs-1">{% ifequal file.status 0 %}待审核{% endifequal %}</div>
                                    <div class="col-xs-2">{{ file.uploaded_by.username }}</div>
                                    <div class="col-xs-3">{{ file.uploaded_at }}</div>
                                </li>
                                {% endfor %}
                            {% ifequal files.count 0 %}
                                <div class="alert alert-info">暂时没有待审核文档，请稍后再刷新</div>
                            {% endifequal %}
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}